@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/FuturaPT-Bold.woff") format("woff"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/FuturaPT-Bold.woff2")
  format("woff2"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/FuturaPT-Light.woff") format("woff"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/FuturaPT-Light.woff2") format("woff2"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/FuturaPT-Medium.woff") format("woff"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/FuturaPT-Medium.woff2") format("woff2"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --header-bg-color: #fff;
  --main-bg-color: #f9f9f9;
  --main-text-color: #333333;
  --main-desc-color: #949494;
  --main-active-color: #ffbd54;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Futura PT";
  font-weight: 500;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* ******* SITE HEADER STYLE START ****** */
.site-header {
}
.site-header-start {
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: var(--main-bg-color);
  backdrop-filter: blur(10px);
}

.site-header-start-wrapper {
  width: 1117px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
.address {
  display: flex;
  align-items: center;
}
.right {
  margin-right: 9px;
}
.site-header-address-title {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.site-header-address-call {
  display: flex;
  align-items: center;
}

.site-header-address-call-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-color);
  margin-right: 9px;
  margin-top: 0;
  margin-bottom: 0;
}

.site-header-address-call-link:hover {
  color: var(--main-active-color);
}

.site-header-address-call-link:active {
  color: var(--main-active-color);
  opacity: 0.6;
}

.site-header-date-box {
  display: flex;
  align-items: center;
}

.site-header-date-box-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.one {
  margin-right: 17px;
}

.site-header-end {
  position: relative;
  background-color: rgba(255, 255, 255, 0.644);
  backdrop-filter: blur(10px);
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.site-header-wrapper-start {
  display: flex;
  align-items: center;
}

.site-header-end-log-link {
  margin-right: 292px;
}

.site-header-end-logo {
  position: absolute;
  top: -37px;
}

.site-header-end-logo:hover {
  opacity: 0.8;
}

.site-header-end-logo:active {
  opacity: 0.6;
}

.site-header-end-list {
  display: flex;
  align-items: center;
  gap: 55px;
  margin: 0;
}

.site-header-end-item-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--main-text-color);
}

.site-header-end-item-link:hover {
  background-image: linear-gradient(transparent, transparent, #f4ffad, transparent);
}

.site-header-end-item-link:active {
  background-image: linear-gradient(transparent, transparent, #f4ffad, transparent);
  opacity: 0.5;
}

.site-header-end-question {
  display: flex;
  cursor: pointer;
}

.site-header-end-question:active {
  opacity: 0.5;
}

.site-header-end-question:hover .site-header-end-question-title {
  background-image: linear-gradient(transparent, transparent, #f4ffad, transparent);
}

.site-header-end-question-img {
  margin-right: 4px;
}

.site-header-end-question-title {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  color: var(--main-text-color);
}

/* ******* SITE HEADER STYLE END ****** */

/* ***** SITE MAIN START **** */
/* ****** HERO SECTION START ***** */
.site-main {
  background-color: var(--main-bg-color);
}
.hero-section {
  padding-top: 153px;
  padding-bottom: 311px;
  background-image: url(../images/hero-start-bg.png),
  url(../images/hero-end-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 490px) calc(50% - 140px),
  calc(50% + 680px) calc(50% + 140px);
}

.hero-section-start {
  width: 100%;
  max-width: 608px;
  margin-left: auto;
}
.hero-section-title {
  width: 100%;
  max-width: 608px;
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: var(--main-text-color);
}

.hero-section-title-span {
  color: #78c0de;
}
.hero-section-subtitle {
  margin-top: 0;
  margin-bottom: 38px;
  width: 100%;
  max-width: 495px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-desc-color);
}
.hero-section-btn {
  padding: 16px 48px;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-bg-color);
  background-color: var(--main-text-color);
  border-radius: 3px;
}

.hero-section-btn:hover {
  background: #333333cc;
}

.hero-section-btn:active {
  background: #33333399;
}
/* ****** HERO SECTION END ***** */

/* ******* VETERINAR SECTION START ***** */
.veterinar-section {
  padding-bottom: 191px;
}

.veterinar-section-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.veterinar-section-wrapper::before {
  position: absolute;
  left: 190px;
  top: 10px;
  content: "";
  display: block;
  width: 142px;
  height: 128px;
  background-image: url(../images/veterinar-left-img.svg);
  background-repeat: no-repeat;
}

.veterinar-section-wrapper::after {
  position: absolute;
  right: 120px;
  top: 10px;
  content: "";
  display: block;
  width: 142px;
  height: 128px;
  background-image: url(../images/veterinar-right-img.svg);
  background-repeat: no-repeat;
}

.veterinar-section-title {
  width: 100%;
  max-width: 753px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--main-desc-color);
}
.veterinar-section-title::before {
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
  margin: auto;
  margin-bottom: 43px;
}

.veterinar-section-title::after {
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}
.veterinar-section-desc {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  color: var(--main-text-color);
}
/* ******* VETERINAR SECTION END ***** */

/* ***** OUR SERVICES START **** */
.our-services {
  padding-bottom: 235px;
}
.container {
}
.our-services-title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: var(--main-text-color);
}

.our-services-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-left {
  width: 50px;
  height: 50px;
  padding: 12px 18px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 30px;
}

.arrow-left:last-child {
  margin-left: 30px;
}

.arrow-left:hover {
  width: 50px;
  height: 50px;
  padding: 12px 18px;
  background-color: var(--header-bg-color);
}

.arrow-left:active {
  width: 50px;
  height: 50px;
  padding: 12px 18px;
  background-color: #fdfdfd;
}

.our-services-list {
  display: flex;
  width: 100%;
  max-width: 1223px;
  justify-content: space-between;
  /* align-items: center; */
  gap: 13px;
  margin: 0;
}
.our-services-item {
  width: 100%;
  max-width: 193px;
  height: 100%;
  min-height: 201px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 32px 28px 35px;
  background-color: var(--header-bg-color);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.padding {
  height: 215px;
  padding-bottom: 43px;
  border-radius: 5px 5px 0px 0px;
  border: none;
}

.our-services-item-img {
  margin-bottom: 22px;
}
.our-services-item-title {
  width: 100%;
  max-width: 126px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--main-text-color);
}

.our-services-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 105px 41px 35px;
  margin-left: 80px;
  margin-right: 110px;
  background-color: var(--header-bg-color);
  border-radius: 0px 5px 5px 5px;
}

.our-services-bottom-img {
  border-radius: 5px;
  margin-right: 40px;
}

.our-services-bottom-left-title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 20px;
  color: var(--main-text-color);
}
.our-services-bottom-left-subtitle {
  width: 100%;
  max-width: 492px;
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-desc-color);
}
.subtitle2 {
  margin-bottom: 34px;
}

.our-services-bottom-left-btn-box {
  display: flex;
  align-items: center;
  /* margin-top: 30px; */
  gap: 21px;
}
.our-services-bottom-left-price {
  display: flex;
  align-items: center;
  padding: 16px 30px;
  background-color: var(--main-active-color);
  border-radius: 3px;
}

.our-services-bottom-left-price:hover {
  background-color: #ffbd54cc;
}

.our-services-bottom-left-price:active {
  background-color: #ffbd5499;
}
.our-services-bottom-left-price-img {
  width: 21px;
  height: 21px;
  margin-right: 6px;
}
.our-services-bottom-left-price-title {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-bg-color);
}
.our-services-bottom-left-docx {
  display: flex;
  align-items: center;
  padding: 16px 30px;
  border-radius: 3px;
  background-color: var(--main-text-color);
}

.our-services-bottom-left-docx:hover {
  background-color: #333333cc;
}

.our-services-bottom-left-docx:active {
  background-color: #33333399;
}
.our-services-bottom-left-docx-img {
  width: 21px;
  height: 21px;
  margin-right: 6px;
}
.our-services-bottom-left-docx-title {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-bg-color);
}
/* ***** OUR SERVICES END **** */

/******* NEWS SECTION START *******/
.news-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 88px;
  margin-bottom: 216px;
  border-radius: 5px;
  width: 100%;
  background-image: url(../images/news-section-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.news-section-wrapper {
  display: flex;
  /* padding: 90px 60px 88px 222px; */
  /* padding-top: 90px; */
  /* padding-right: 60px; */
  padding-left: 122px;
}

.news-section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: var(--header-bg-color);
}

.input-email {
  width: 335px;
  margin-right: 21px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  background: var(--header-bg-color);
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
}

.input-email::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-desc-color);
}

.new-input-btn {
  padding: 15px 52px;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-bg-color);
  background-color: var(--main-text-color);
  border-radius: 3px;
  border: none;
}

.new-input-btn:hover{
  background-color: rgba(51, 51, 51, 0.8);
}

.new-input-btn:active{
  background-color: rgba(51, 51, 51, 0.6);
}


.input-email:not(:placeholder-shown):not(:focus):valid {
  border: 2px solid #90EE90;
}

.input-email:not(:placeholder-shown):not(:focus):invalid {
  border: 2px solid #FF6347;
}
.news-section-img {
  position: absolute;
  bottom: calc(50% - 225px);
  margin-right: auto;
  right: calc(50% - 600px);
}
/******* NEWS SECTION END *********/

/* ***** USEFUL SECTION START ***** */


.useful-section {
  padding-bottom: 265px;
}

.useful-section-list{
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
}

.useful-section-title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: var(--main-text-color);
  text-align: center;
}

.useful-section-item-tooth-img{
  border-radius: 5px 5px 0px 0px;
  border: none;
  
}

.useful-section-item-tooth {
  border-radius: 5px;
  overflow: hidden;
  /* border: 1px solid #E4E4E2; */
  margin: 0;
}

.useful-section-item-tooth-box {
  padding: 21px 22px 35px 30px;
  border: 1px solid #E4E4E2;
  border-top: 0;
  overflow: hidden;
}
.useful-section-item-tooth-date {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-desc-color);
  text-align: right;
  
}

.useful-section-item-tooth-title {
  width: 100%;
  max-width: 182px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}
.useful-section-item-tooth-subtitle {
  width: 100%;
  max-width: 244px;
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-desc-color); 
}

.useful-section-item-middle{
  width: 100%;
  max-width: 640px;
  display: flex;
}


.useful-section-item-middle-box{
  width: 100%;
  max-width: 335px;
  padding: 43px 35px 36px 31px;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--header-bg-color);
}

.useful-section-item-middle-top{
  display: flex;
  align-items: center;
  gap: 7px;
}

.useful-section-item-middle-top-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #3D9CEA;
}

.useful-section-item-middle-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.useful-section-item-middle-top-link-date{
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-desc-color);
}

.useful-section-item-middle-top-title {
  width: 100%;
  max-width: 193px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: var(--main-text-color);
}
.useful-section-item-middle-top-subtitle {
  width: 100%;
  max-width: 270px;
  margin-top: 0;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-desc-color);
}

/* ***** USEFUL SECTION END ***** */

/* ***** MAP SECTION START **** */


.map-section{
  width: 100%;
  height: 652px;
  background-image: url(../images/map-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.map-section-wrapper{
  display: flex;
}

.iframe{
  width: 462px;
  height: 100%;
  min-height: 652px;
  border: none;
  margin: 0;
}

.map-section-end{
  padding-top: 62px;
  /* padding-bottom: 74px; */
  padding-left: 166px;
}

.map-section-end-title {
  margin-top: 0;
  margin-bottom: 14px;  
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: var(--header-bg-color);
}

.map-section-end-subtitle {
  width: 100%;
  max-width: 334px;
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-desc-color);
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 14px; */
}

.input-name {
  width: 100%;
  max-width: 375px;
  margin-bottom: 14px;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  background: var(--header-bg-color);
  border: none;
  outline: none;
}

.input-map::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-desc-color);
}

.map-input-email {
  width: 100%;
  max-width: 375px;
  margin-bottom: 14px;
  
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  background: var(--header-bg-color);
  border: none;
  outline: none;
}

.map-section-textarea {
  width: 100%;
  max-width: 375px;
  margin-bottom: 30px;
  padding-top: 16px;
  padding-bottom: 127px;
  padding-left: 22px;
  background: var(--header-bg-color);
  border: none;
  outline: none;
}

.map-section-btn{
  display: inline-block;
  margin-right: auto;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-bg-color);
  background-color: #FFBD54;
  border: none;
  cursor: pointer;
}

.input-name:not(:placeholder-shown):not(:focus):valid {
  border: 2px solid #90EE90;
}

.input-name:not(:placeholder-shown):not(:focus):invalid {
  border: 2px solid #FF6347;
}
/* ***** MAP SECTION END **** */
/* ***** SITE MAIN END **** */
